/* general */

:root {
    --color-primary: #23272a;
    --color-secondary: #ffffff;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #255ee9;
    --color-accesory: #5865f2;
    --color-dark-button-hover: #313338;
    --color-accessory-button-hover: #7983f5;
    --color-bg-login: #313338;
    --color-text-login: #f2f3f5;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-secondary);
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

ul{
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
}

.accessory-color{
    color: var(--color-accesory);
}

/* buttons */

.button{
    border-radius: 20px;
    padding: 10px 15px;
}

.white-btn{
    background-color: #ffffff;
    color: #000000;
}

.black-btn{
    margin-top: 20px;
    margin-left: 10px;
    background-color: var(--color-primary);
    color: #ffffff;
}

.accessory-btn{
    background-color: var(--color-accesory);
    color: #ffffff;
}

.button:hover{
    box-shadow: 1px 3px 10px #5e5e5e;
    text-decoration: none
}

.white-btn:hover{
    color: var(--color-accesory);
}

.black-btn:hover{
    background-color: var(--color-dark-button-hover);
}

.accessory-btn:hover{
    background-color: var(--color-accessory-button-hover);
}

/* flex utility */

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.f-between{
    justify-content: space-between;
}

.f-center{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.f-reverse{
    flex-direction: row-reverse;
}

.f-center-between{
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

p{
    line-height: 1.8em;
}

/* inizio main page */

/* header */

header{
    background-color: var(--color-header-bg);
    color: #ffffff;
    text-align: center;
}

#nav{
    padding-top: 20px;
}

#hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .container{
    min-height: 600px;
    max-width: 800px;
}

h1{
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 30px;
}

p + a{
    margin-top: 20px;
}

a:hover{
    text-decoration: underline;
}

/* main */

.even{
    background-color: var(--color-section-bg);
}

main section{
    padding: 100px;
}

main img{
    width: 100%;
}

.text-width{
    width: 40%;
}

.img-width{
    width: 60%;
}

main section div h2{
    margin-bottom: 20px;
    font-size: 3em;
}

main section div p{
    font-size: 1.2em;
}

.last-section{
    text-align: center;
}

.last-section h2{
    font-size: 2.8em;
}

.stars-title{
    padding: 60px;
    display: inline-block;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.last-section .container{
    flex-flow: column;
}

.wave{
    opacity: 0.03;
}

.wave img{
    display: block;
}

.reverse-wave{
    transform: rotate(180deg);
}

/* footer */

footer{
    background-color: var(--color-primary);
    color: #ffffff;
}

.foot-top{
    border-bottom: 1px solid var(--color-accesory);
    justify-content: space-around;
}

.foot-top div:first-child{
    width: 25%;
}

.f-start{
    align-items: flex-start;
    padding: 50px 0 ;
}

h3{
    font-size: 2em;
    margin-bottom: 20px;
}

.language{
    height: 1em;
    vertical-align: middle;
}

aside i{
    margin: 20px 25px 0 0;
    font-size: 1.4em;
}

.foot-top ul li{
    padding: 5px;
}

.foot-bot{
    padding-top: 20px;
    padding-bottom: 100px;
}

h5{
    font-size: 1em;
    padding-left: 9px;
    font-weight: 400;
}

aside a{
    display: inline-block;
    padding: 10px 0;
}

select{
    background-color: var(--color-primary);
    color: #ffffff;
    border: transparent;
}

/* fine main page */

/* inizio login page */

#login a{
    padding: 0;
}

#login{
    background-image: url("../img/login/bg.png");
    background-size: cover;
    height: 100vh;
    color: var(--color-text-login);
    font-size: 16px;
}

#login .container{
    max-width: 800px;
    background-color: var(--color-bg-login);
    padding: 30px;
    border-radius: 5px;
}

#login .form-container{
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#login .left-form{
    width: 60%;
}

#login .right-form{
    width: 40%;
    text-align: center;
    margin-left: 70px;
}

#login .title-container{
    text-align: center;
    padding-bottom: 20px;
}

#login h1{
    font-size: 1.3em;
    padding: 20px 0 10px 0;
}

#login label{
    font-size: 0.7em;
}

#login label::after{
    content: " *";
    color: red;
}

#login #email{
    margin: 5px 0 20px 0;
}

#login #password{
    margin: 5px 0 5px 0;
}

#login #submit{
    margin: 20px 0 5px 0;
}

#login input{
    color: #ffffff;
    width: 100%;
    min-height: 3em;
    border: transparent;
    border-radius: 2px;
}

#login #email, #password{
    background-color: var(--color-primary);
    color: #ffffff;
    width: 100%;
    min-height: 3em;
    border: transparent;
}

.blue-link{
    display: inline-block;
    color: var(--color-accesory);
}

#login .right-form img{
    padding-bottom: 40px;
}

#login h2{
    padding-bottom: 10px;
}

/* fine login page */

/* inizio download page */

/* header download */

#download header{
    background-color: var(--color-primary);
}

#download #hero{
    background-image: none;
}

#download #hero .container{
    max-width: 1200px;
}

#download #hero .d-flex{
    flex-wrap: nowrap;
}

#download .accessory-btn{
    display: inline-block;
}

#download .left-header{
    text-align: left;
}

#download header p{
    padding: 20px 0;
}

#download header .accessory-btn{
    margin-right: 20px;
}

/* main download */

#download main{
    max-height: 2000px;
}

#download main a{
    display: inline-block;
}

#download .box{
    width: 50%;
    max-height: 600px;
    overflow: hidden;
    padding: 10px;
}

#download .inside-box{
    background-color: var(--color-section-bg);
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}

#download main .container{
    padding: 120px 0;
    max-height: 2000px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#download main .button{
    padding: 10px 30px;
    margin-bottom: 70px;
}

#download .container .box:nth-child(3) .inside-box{
    text-align: start;
}

/* fine download page */